.display-1 {
	text-align: center;
}
.lead {
	text-align: center;
}

.jumbotron {
background-color: white;
}
.align-bottom {
	text-align: right;
}

.display-4 {
	text-align: center;
}

.jumbotron {
	padding-top: 20;
	padding-bottom: 0;
}
